include ../more-link/more-link

mixin about()
	+b('section').about
		+e.in
			+e('h1').title ИНФОРМАЦИЯ О НАШЕМ ЦЕНТРЕ
			+e('p').text Получить медицинскую справку порой бывает просто необходимо. получить медицинскую справку Причин тому может быть огромное количество: от необходимости оформления больничного листа до получения разрешения для посещения бассейна или спортзала. Необходим подобный документ и чтобы получить водительское удостоверение, разрешение на ношение оружия.
			+more-link('Подробнее')._style-2