.about
	background-color $color-blue-v2 
	&__in
		padding-top 36px
		padding-bottom 31px
		text-align center
	&__title
		margin-bottom 37px
		font-os-light(30px,20px)
		color #FFF 
	&__text
		margin-bottom 37px
		padding 0 98px
		font-os-regular(20px,30px)
		color #FFF 