mixin features()
	+b('section').features
		+e.in
			+e('h2').title ПРЕИМУЩЕСТВА РАБОТЫ С НАМИ
			+e('ul').list
				+e('li').i
					+e('a')(href='#').a
						+e.icon-1
						+e.i-title Бесплатная доставка 
						+e('span').note до любой станции метро!
				+e('li').i
					+e('a')(href='#').a
						+e.icon-2
						+e.i-title Оперативность оформления
						+e('span').note (максимум 24 часа)
				+e('li').i
					+e('a')(href='#').a
						+e.icon-3
						+e.i-title Выполнение срочных заказов
						+e('span').note (в течение двух-трех часов)
				+e('li').i
					+e('a')(href='#').a
						+e.icon-4
						+e.i-title Отсутствие предоплаты
						+e('span').note при доставке курьером
