mixin sidebar()
	.sidebar
		.side-form
			h2.side-form__title СДЕЛАЙТЕ ПРЕДВАРИТЕЛЬНЫЙ ЗАКАЗ
			p.side-form__text Наш менеджер свяжется с вами в удобное вам время
			form(action="#", method="post")
				.side-form__input
					input(type="text", placeholder="Ваше имя:", value="")
				.side-form__input
					input(type="text", placeholder="Телефон:", value="")
				.side-form__submit
					input(type="submit" value="Отправить")

		.side-services
			ul.side-services__ul
				li.side-services__i.side-services__i-1
					a.side-services__a(href="#") Выписка из больницы
				li.side-services__i.side-services__i-2
					a.side-services__a(href="#") Справка в бассеин
				li.side-services__i.side-services__i-3
					a.side-services__a(href="#") Справка для ГИБДД
				li.side-services__i.side-services__i-4
					a.side-services__a(href="#") Справка для поступления на учебу
				li.side-services__i.side-services__i-5
					a.side-services__a(href="#") Справка для академического отпуска
				li.side-services__i.side-services__i-6
					a.side-services__a(href="#") Медицинские книжки
		.side-nav
			ul.side-nav__ul
				li.side-nav__i
					a.side-nav__a(href="#") Справка в свободной форме от врача Справка в бассейн
				li.side-nav__i
					a.side-nav__a(href="#") Детская справка в бассейн
				li.side-nav__i
					a.side-nav__a(href="#") Справка для поступления на госслужбу <br/> (форма 001Гсу)
				li.side-nav__i
					a.side-nav__a(href="#") Справка для поступления в ВУЗ <br/>(форма 086/у)
				li.side-nav__i
					a.side-nav__a(href="#") Справка формы 302н Справка 082у (для выезжающих за границу)
				li.side-nav__i
					a.side-nav__a(href="#") Справка о нетрудоспособности студента <br/>(форма 095/у)
				li.side-nav__i
					a.side-nav__a(href="#") Выписка из истории болезни (форма <br/>027/у)
				li.side-nav__i
					a.side-nav__a(href="#") Освобождение от физкультуры
				li.side-nav__i
					a.side-nav__a(href="#") Справка в спортзал