body
	background $color-white
	min-width 1200px 

.header,
.hero,
.services,
.about,
.features,
.feedback,
.info,
.pre-order,
.footer
	&__in
		margin auto
		padding 0 10px
		width 1200px
		// center(1200px, pad=10px)

			

.main
	margin auto
	padding 0 10px 55px
	width 1200px
	max-width 1200px
	cf()


::-webkit-input-placeholder 
	color $color-blue
::-moz-placeholder          
	color $color-blue
:-moz-placeholder           
	color $color-blue
:-ms-input-placeholder      
	color $color-blue

