.breadcrumbs
	margin-bottom 16px
	&__ul
		font-size 0
	&__i
		position relative
		border 1px solid #d4d4d4
		display inline-block
		vertical-align top
		background-image linear-gradient(to top, #f2f2f2 0%, white 100%)
		&:after
			position absolute
			top 0
			right -8px
			content ""
			z-index 1
			sprite($b_i)
	&__a
		padding 0 0 0 7px 
		font-os-regular(12px,20px)
		color #73c0e9 
		text-decoration none
		&:hover
			text-decoration underline
	&__i	
		&-active
			background #FFF 
			.breadcrumbs__a
				padding 0 8px 0 14px
				color #516e7f 
			&:after
				position absolute
				top 0
				right -7px
				content ""
				sprite($b_i_active)
		