.hero
	min-height 439px
	background url('../images/hero-img.jpg') 50% no-repeat
	background-size cover
	&__in
		padding-top 63px
		padding-bottom 68px
		cf()
		
.callback-form
	margin-right 79px
	padding-top 31px
	padding-right 20px
	padding-left 20px
	padding-bottom 29px
	width 340px
	min-height 306px
	background-color $color-sky
	border-radius 5px
	float right
	text-align center
	&__title
		margin-bottom 11px
		font-os-bold(24px,1)
		color $color-white
		text-transform uppercase
	&__text
		margin-bottom 21px
		font-os-regular(16px,20px)
		color $color-white
	&__input
		margin-bottom 13px
		width 300px
		input
			border none
			padding 11px 12px 6px
			width 100%
			background #FFF
			border-radius 3px
			font-os-regular(16px,1)
			color #91aebf
	&__submit
		margin-top 20px
		input
			padding 11px 28px 8px 28px 
			border 2px solid $color-white
			background-color transparent
			font-ub-reg(16px,1)
			color #FFF 
			border-radius 5px
		
	
		