include ../breadcrumbs/breadcrumbs

mixin content()
	.content
		+breadcrumbs()
		h1.content__title ПРАЙС-ЛИСТ

		table.table
			thead.table__head
				tr
					td(colspan="1") Название справки:
					td(colspan="3") Цена:
			tbody
				tr.table__row
					td 
						a.table__a.table__a-style-1(href="#") Справка об эпидокружении (справка об отсутствии контактов с инфекционными больными)
					td.table__price
						span 2000р.
					td 
						a.table__a.table__a-style-2(href="#") Заказать
					td 
						a.table__a.table__a-more.table__a-style-2(href="#") Подробнее
				tr.table__row
					td 
						a.table__a.table__a-style-1(href="#") Справка об эпидокружении (справка об отсутствии контактов с инфекционными больными)
					td.table__price
						span 2000р.
					td 
						a.table__a.table__a-style-2(href="#") Заказать
					td 
						a.table__a.table__a-more.table__a-style-2(href="#") Подробнее
				tr.table__row
					td 
						a.table__a.table__a-style-1(href="#") Справка об эпидокружении (справка об отсутствии контактов с инфекционными больными)
					td.table__price
						span 2000р.
					td 
						a.table__a.table__a-style-2(href="#") Заказать
					td 
						a.table__a.table__a-more.table__a-style-2(href="#") Подробнее
				tr.table__row
					td 
						a.table__a.table__a-style-1(href="#") Справка об эпидокружении (справка об отсутствии контактов с инфекционными больными)
					td.table__price
						span 2000р.
					td 
						a.table__a.table__a-style-2(href="#") Заказать
					td 
						a.table__a.table__a-more.table__a-style-2(href="#") Подробнее
				tr.table__row
					td 
						a.table__a.table__a-style-1(href="#") Справка об эпидокружении (справка об отсутствии контактов с инфекционными больными)
					td.table__price
						span 2000р.
					td 
						a.table__a.table__a-style-2(href="#") Заказать
					td 
						a.table__a.table__a-more.table__a-style-2(href="#") Подробнее
				tr.table__row
					td 
						a.table__a.table__a-style-1(href="#") Справка об эпидокружении (справка об отсутствии контактов с инфекционными больными)
					td.table__price
						span 2000р.
					td 
						a.table__a.table__a-style-2(href="#") Заказать
					td 
						a.table__a.table__a-more.table__a-style-2(href="#") Подробнее
				tr.table__row
					td 
						a.table__a.table__a-style-1(href="#") Справка об эпидокружении (справка об отсутствии контактов с инфекционными больными)
					td.table__price
						span 2000р.
					td 
						a.table__a.table__a-style-2(href="#") Заказать
					td 
						a.table__a.table__a-more.table__a-style-2(href="#") Подробнее
				tr.table__row
					td 
						a.table__a.table__a-style-1(href="#") Справка об эпидокружении (справка об отсутствии контактов с инфекционными больными)
					td.table__price
						span 2000р.
					td 
						a.table__a.table__a-style-2(href="#") Заказать
					td 
						a.table__a.table__a-more.table__a-style-2(href="#") Подробнее
				tr.table__row
					td 
						a.table__a.table__a-style-1(href="#") Справка об эпидокружении (справка об отсутствии контактов с инфекционными больными)
					td.table__price
						span 2000р.
					td 
						a.table__a.table__a-style-2(href="#") Заказать
					td 
						a.table__a.table__a-more.table__a-style-2(href="#") Подробнее
				tr.table__row
					td 
						a.table__a.table__a-style-1(href="#") Справка об эпидокружении (справка об отсутствии контактов с инфекционными больными)
					td.table__price
						span 2000р.
					td 
						a.table__a.table__a-style-2(href="#") Заказать
					td 
						a.table__a.table__a-more.table__a-style-2(href="#") Подробнее
				tr.table__row
					td 
						a.table__a.table__a-style-1(href="#") Справка об эпидокружении (справка об отсутствии контактов с инфекционными больными)
					td.table__price
						span 2000р.
					td 
						a.table__a.table__a-style-2(href="#") Заказать
					td 
						a.table__a.table__a-more.table__a-style-2(href="#") Подробнее
				tr.table__row
					td 
						a.table__a.table__a-style-1(href="#") Справка об эпидокружении (справка об отсутствии контактов с инфекционными больными)
					td.table__price
						span 2000р.
					td 
						a.table__a.table__a-style-2(href="#") Заказать
					td 
						a.table__a.table__a-more.table__a-style-2(href="#") Подробнее
				tr.table__row
					td 
						a.table__a.table__a-style-1(href="#") Справка об эпидокружении (справка об отсутствии контактов с инфекционными больными)
					td.table__price
						span 2000р.
					td 
						a.table__a.table__a-style-2(href="#") Заказать
					td 
						a.table__a.table__a-more.table__a-style-2(href="#") Подробнее
				tr.table__row
					td 
						a.table__a.table__a-style-1(href="#") Справка об эпидокружении (справка об отсутствии контактов с инфекционными больными)
					td.table__price
						span 2000р.
					td 
						a.table__a.table__a-style-2(href="#") Заказать
					td 
						a.table__a.table__a-more.table__a-style-2(href="#") Подробнее
				tr.table__row
					td 
						a.table__a.table__a-style-1(href="#") Справка об эпидокружении (справка об отсутствии контактов с инфекционными больными)
					td.table__price
						span 2000р.
					td 
						a.table__a.table__a-style-2(href="#") Заказать
					td 
						a.table__a.table__a-more.table__a-style-2(href="#") Подробнее
				tr.table__row
					td 
						a.table__a.table__a-style-1(href="#") Справка об эпидокружении (справка об отсутствии контактов с инфекционными больными)
					td.table__price
						span 2000р.
					td 
						a.table__a.table__a-style-2(href="#") Заказать
					td 
						a.table__a.table__a-more.table__a-style-2(href="#") Подробнее

		
		.pagination
			ul.pagination__ul
				li.pagination__i.pagination__i-active
					a.pagination__a(href="#") 1
				li.pagination__i
					a.pagination__a(href="#") 2
				li.pagination__i
					a.pagination__a(href="#") 3