.feedback
	background url('../images/feedback.jpg') 50% no-repeat 
	background-size cover
	&__in
		padding-top 41px
		padding-bottom 42px
	&__title
		margin-bottom 41px
		font-os-light(30px,20px)
		color #fff
		text-transform uppercase
		text-align center
	&__list
		font-size 0
		cf()
	&__i
		display inline-block
		vertical-align top
		margin-left 20px
		width 380px 
		// col(4/12,gutter: 1.666700)
		&:first-child
			margin-left 0
		
	&__i-text
		padding-top 9px
		background url('../images/fb-t-t.png') 0 0 no-repeat
	&__i-text-w
		padding-bottom 24px
		background url('../images/fb-t-b.png') 0 100% no-repeat
	&__i-text-w-w
		position relative
		padding 26px 26px 28px
		background url('../images/fb-bg.png') 0 0 repeat-y 
		font-os-regular(16px,19px)
		color #FFF
	&__user
		position relative
		margin-top 11px
		margin-left 40px
		padding-top 10px
		min-height 60px 
	&__image
		position absolute
		top 0
		left 0
		overflow hidden
		img
			border 3px solid rgba(255,255,255,.47)
			border-radius 50%
	&__name
		margin-left 72px
		margin-bottom 4px
		font-os-bold(16px,1)
		color #FFF 
	&__age
		margin-left 72px
		font-os-regular(16px,1)
		color #FFF  
		
		
	