mixin feedback()
	+b('section').feedback
		+e.in
			+e('h2').title ОТЗЫВЫ НАШИХ КЛИЕНТОВ
			+e('ul').list
				+e('li').i
					+e.i-text
						+e.i-text-w
							+e.i-text-w-w
								+e('p') Сотрудничество с компанией действительно удобно: заплатил – и работай в свое удовольствие. Компания занимается оформлением медицинских книжек по низким ценам.
					+e.user
						+e.image
							+e('img')(src='assets/images/user.jpg', alt='user')
						+e.name Григорий Иванов 
						+e.age 55 лет 
				+e('li').i
					+e.i-text
						+e.i-text-w
							+e.i-text-w-w
								+e('p') Сотрудничество с компанией действительно удобно: заплатил – и работай в свое удовольствие. Компания занимается оформлением медицинских книжек по низким ценам.
					+e.user
						+e.image
							+e('img')(src='assets/images/user.jpg', alt='user')
						+e.name Григорий Иванов 
						+e.age 55 лет 
				+e('li').i
					+e.i-text
						+e.i-text-w
							+e.i-text-w-w
								+e('p') Сотрудничество с компанией действительно удобно: заплатил – и работай в свое удовольствие. Компания занимается оформлением медицинских книжек по низким ценам.
					+e.user
						+e.image
							+e('img')(src='assets/images/user.jpg', alt='user')
						+e.name Григорий Иванов 
						+e.age 55 лет 


