.pre-order
	background-color $color-sky 
	&__in
		padding-top 46px
		padding-bottom 52px
		text-align center
	&__title
		margin-bottom 14px
		font-os-bold(30px,34px)
		color #FFF
		text-transform uppercase
	&__text
		margin-bottom 26px
		font-os-regular(20px,34px)
		color #FFF
	&__form
		margin auto
		width 780px
		cf()
	&__input
		margin-right 20px
		float left
		input
			border none
			padding 10px 13px 8px 
			width 300px
			font-os-regular(16px,20px)
			color $color-blue 
			border-radius 4px
	&__submit
		float right
		input
			padding 11px 28px 9px 26px
			border 2px solid white
			background-color transparent
			font-ub-reg(16px,1)
			color #FFF 
			border-radius 4px
		