mixin header()
	+b('header').header
		+e.in
			+e.logo
				+e.title Any-help.ru
				+e.slogan медицинские справки с доставкой
			+e('nav').nav
				+e('ul').ul
					+e('li').i
						+e('a').a(href='#') Главная
					+e('li').i
						+e('a').a(href='#') О нас
					+e('li').i
						+e('a').a(href='#') Прайс-Лист
					+e('li').i
						+e('a').a(href='#') Информация
					+e('li').i
						+e('a').a(href='#') Контакты
			+e.phone 8800 555 44 44
				+e('a').phone-a(href='#') Заказать звонок



					
