include ../more-link/more-link

mixin info()
	+b('section').info
		+e.in
			+e('h2').title Полезная информация
			+b('ul').info-list
				+e('li').i
					+e('a').a(href='#')
						+e.image
							+e('img')(src='assets/images/info-img.jpg', alt='image')
						+e('h3').title Медицинские справки
						+e.text Медицинская деятельность всегда связана с оформлением медицинских справок и санитарных книжек. Так сложилось, что без них невозможно ни поболеть дома...
						+e.more Подробнее
				+e('li').i
					+e('a').a(href='#')
						+e.image
							+e('img')(src='assets/images/info-img.jpg', alt='image')
						+e('h3').title Медицинские справки
						+e.text Медицинская деятельность всегда связана с оформлением медицинских справок и санитарных книжек. Так сложилось, что без них невозможно ни поболеть дома...
						+e.more Подробнее
				+e('li').i
					+e('a').a(href='#')
						+e.image
							+e('img')(src='assets/images/info-img.jpg', alt='image')
						+e('h3').title Медицинские справки
						+e.text Медицинская деятельность всегда связана с оформлением медицинских справок и санитарных книжек. Так сложилось, что без них невозможно ни поболеть дома...
						+e.more Подробнее
				+e('li').i
					+e('a').a(href='#')
						+e.image
							+e('img')(src='assets/images/info-img.jpg', alt='image')
						+e('h3').title Медицинские справки
						+e.text Медицинская деятельность всегда связана с оформлением медицинских справок и санитарных книжек. Так сложилось, что без них невозможно ни поболеть дома...
						+e.more Подробнее
						
			+more-link('Смотреть все')._style-1

